{% extends 'base_.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div id="page-wrapper">
           <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <strong><h1>{{ tne }}
                            <img class="img-meters "src="/static/images/meters.png" />
                            </h1></strong>

                    </div>
                    <div class="col-lg-12">
                        <div class="box-widget">
                            <div class="box-header show-header widget-header">
                                <div class="box-header-text">Gauge Data Choiche</div>
                            </div>

                            <div class="sempliceprova">
                                {% block gauge_all %}
                                <table>
                                    <thead>
                                        <tr>exaple</tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% if scelta_van|length !=0 %}
                                                <td>{{scelta_van['Gauge_VbN']['name_gauge_change']|default('nulla')}}</td>
                                                <td> {{scelta_van['Gauge_VbN']['name_gauge_choiche']|default('nulla')}}</td>

                                            {% endif %}

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            {% endblock %}
                                <script>


                                </script>
                               <div id="chartdiv0" align="center" style="width: 200px; height: 200px;"></div>
                               <div id="chartdiv1" align="center" style="width: 200px; height: 200px;"></div>
                        </div>
                    </div>
                </div>
           </div>
    </div>
{% endblock %}
