{% extends "base_.html" %}
{% block content %}
    <div id="page-wrapper" xmlns="http://www.w3.org/1999/html">
           <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box-widget">
                            <div class="box-header show-header widget-header">
                                <div class="box-header-text">Meters Gauge Setting</div>
                            </div>
                            </br>
                                <form id="form-choice-gauge" action="" method="post">
                                     {{ form.csrf_token }}
                                    <div class="box-widget">
                                        <div class="chartdiv0">
                                           <label><strong>Gauge VaN:</strong>   {{form.name_change_gauge_van}} {{ form.name_checked_gauge_van }}</label>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="box-widget">
                                        <div class="chartdiv1">
                                            <label><strong>Gauge VbN:</strong>  {{ form.name_change_gauge_vbn}}  {{ form.name_checked_gauge_vbn }}</label>
                                        </div>
                                    </div>
                                    <br/>
                                     <div class="box-widget">
                                        <div class="chartdiv2">
                                            <label><strong>Gauge VcN:</strong>  {{ form.name_change_gauge_vcn}}  {{ form.name_checked_gauge_vcn }}</label>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="box-widget">
                                        <div class="chartdiv3">
                                            <label><strong>Gauge IaN:</strong>  {{ form.name_change_gauge_ian }} {{ form.name_checked_gauge_ian }}</label>
                                        </div>
                                    </div>
                                    <div class="box-widget">
                                        <div class="chartdiv4">
                                            <label><strong>Gauge IbN:</strong>  {{ form.name_change_gauge_ibn }} {{ form.name_checked_gauge_ibn }}</label>
                                        </div>
                                    </div>
                                    <div class="box-widget">
                                        <div class="chartdiv5">
                                            <label><strong>Gauge IcN:</strong>  {{ form.name_change_gauge_icn }} {{ form.name_checked_gauge_icn }}</label>
                                        </div>
                                    </div>
                                    <div class="box-widget">
                                        <div class="Phase">
                                            <label><strong>Phase:</strong>     {{ form.name_change_gauge_phase }} {{ form.name_checked_gauge_phase }}</label>
                                        </div>
                                    </div>
                                    </br>
                                    <input class="btn btn-success" type="submit" value="Invia">
                                </form>


                            <script>
                                  $(function(){
                                      // Register an event that should be fired when the checkbox value is changed
                                      $({{form.name_checked_gauge_van.id}}).change(function () {
                                          var data = $(this).is(':checked');
                                            alert(data)
                                            console.log(data)
{#                                          var request = $.ajax({#}
{#                                              type: "POST",#}
{#                                              url: "/dashboard/setting",#}
{#                                              data: {'input_value': data},#}
{#                                              dataType: "html"#}
{#                                          }).done(function (msg) {#}
{#                                          });#}
                                      });

                                  });

                            </script>
                            <script>
                                 $("#form-choice-gauge").change(function () {
                                     if ($('#chart0').prop('checked')) {
                                         $("#chartdiv0").show();
                                     } else {
                                         $('#chartdiv0').hide();
                                     }
                                       if ($('#chart1').prop('checked')) {
                                         $("#chartdiv1").show();
                                     } else {
                                         $('#chartdiv1').hide();
                                     }
                                 });


                            </script>

                        </div>



                    </div>

                </div>
           </div>
   </div>

{% endblock %}
