body,html {
    background-image : url(/static/images/background.jpg);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}
.card-container.card {max-width: 350px; padding: 40px 40px;}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 100px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-user {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputUsers,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}


.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}



.btn.btn-signin {
    /*background-color: #4d90fe;*/
    background-color: rgb(104, 145, 162);
    /*background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  /* background-color: rgb(12, 97, 33);*/
}
.forgot-password {
    color: rgb(104, 145, 162);
}
.btn-primary:hover {
    /*background-color: #265a88;
     background-position: 0 -15px; */
}
.btn:hover {
    background: linear-gradient(#057904,#118C02);
}


.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: rgb(12, 97, 33);
}

.page-title h3 { margin: 2em auto;
                font-family: 'Georgia', serif;
                text-align: center;
                color: #648d25;
                border-radius:2px;
                border-bottom: 2px solid #eee;
                }

.page-message   { margin: 2em auto;
                  padding: 0.8em;
                 text-align: center;
                 color:  #648d25;
                 font-size: 1.0em;
                }

.flash          {font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
                 color: #999}

.page-error     {  padding: 0.5em;
                 text-align: center;
                 background :  #d9534f;
                 width: 100%;
                 border-radius:10px;
}

.label-1           { font-weight: normal;
                   font-family: Arial,"Helvetica Neue", Helvetica, Arial, sans-serif;

                }