{% extends "dashboard_.html" %}

{% block content_tabs %}
    <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content">
                            <div id="building" class="tab-pane fade in active">
                                <h3>Dashboard Complete</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div id="tenant" class="tab-pane fade">
                                <h3>Menu 1</h3>
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div id="meters" class="tab-pane fade">
                                <h3>Menu 2</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
{% endblock %}